<div class="navbar">
    <div class="logo">
        <a href="index.html">
            <img src="/bbs_admin/assets/img/main_logo.png" alt="">
        </a>
        <div class="nav-toggle"></div>
    </div>
    <div class="home">
        <a class="menu-item dashboard gnb-item">
            <span class="nav-icon"><i class="xi-home-o"></i></span>
            <span class="nav-text">대시보드</span>
        </a>
    </div>
    <div class="gnb">
        <div class="menu_cont">
            <a class="menu-item menu1 gnb-item"> <!-- 하위 a태그 삭제, 상위 div태그를 a태그로 수정 -->
                <span class="nav-icon"><i class="xi-users-o"></i></span>
                <span class="nav-text">회원</span>
            </a>
            <a class="menu-item menu1 gnb-item"> <!-- 하위 a태그 삭제, 상위 div태그를 a태그로 수정 -->
                <span class="nav-icon"><i class="xi-info-o"></i></span>
                <span class="nav-text">가이드</span>
            </a>
            <a class="menu-item menu1 gnb-item"> <!-- 하위 a태그 삭제, 상위 div태그를 a태그로 수정 -->
                <span class="nav-icon"><i class="xi-car"></i></span>
                <span class="nav-text">차량 점검표</span>
            </a>
            <a class="menu-item menu1 gnb-item"> <!-- 하위 a태그 삭제, 상위 div태그를 a태그로 수정 -->
                <span class="nav-icon"><i class="xi-new-o"></i></span>
                <span class="nav-text">공지사항</span>
            </a>
            <div class="menu-item menu2">
                <div class="ml-tit">
                    <span class="mn_tit">
                        <span class="nav-icon"><i class="xi-cog"></i></span>
                        <span class="nav-text">설정</span>
                    </span> 
                </div>
                <div class="ml-list">
                    <a class="m-item gnb-item">차량 설정</a> <!-- 하위 a태그 삭제, 상위 div태그를 a태그로 수정 -->
                    <a class="m-item gnb-item">가이드 설정</a>
                </div>
            </div>
            <div class="menu-item menu2">
                <div class="ml-tit">
                    <span class="mn_tit">
                        <span class="nav-icon"><i class="xi-log"></i></span>
                        <span class="nav-text">로그</span>
                    </span> 
                </div>
                <div class="ml-list">
                    <a class="m-item gnb-item">회원 로그</a> <!-- 하위 a태그 삭제, 상위 div태그를 a태그로 수정 -->
                    <a class="m-item gnb-item">가이드 로그</a>
                    <a class="m-item gnb-item">가이드 설정 로그</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('#btn-close_sidebar').on('click', closeSidebar);

        // navbar cursor
        $('#navbar').hover(function(){
            if($('#container').hasClass('minified')){
                $('#container').removeClass('minified');
                $('.menu2').removeClass('active');
            }
        }, 
        function() {
            if($('.nav-toggle').hasClass('active')){
                $('#container').addClass('minified');
                $('.ml-list').slideUp();
            }
        });

        // nav-toggle 버튼 클릭
        $('.nav-toggle').on('click', function(e){
            var target = $(e.currentTarget);
            $(target).toggleClass('active')

            if($(target).hasClass('active')){
                $('#container').addClass('minified');
                $('.ml-list').slideUp();
                $('.menu2').removeClass('active');
            }
            else{
                $('#container').removeClass('minified');
            }
        });

        // gnb-item 버튼 클릭
        $('.gnb-item').on('click', function(e){
            $('#navbar').find('.gnb-item').removeClass('active');
            $(e.currentTarget).toggleClass('active');
        });

        // 메뉴 펼치기/닫기
        $('.ml-tit').on('click', function(e){
            var parent = $(e.currentTarget).closest('.menu2');

            $('.ml-list').slideUp();
            $('.menu2').removeClass('active');
            if(parent.find('.ml-list').is(':visible')){
                parent.find('.ml-list').slideUp();
                parent.removeClass('active');
                return;
            }
            
            parent.find('.ml-list').slideDown();
            parent.addClass('active');
        });
    });
    
    // 사이드바 닫기
    function closeSidebar(){
        $('#overlay').removeClass('active');
        $('.sidebar').removeClass('active');
    }
</script>